# FireBaseの環境変数
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# アプリの説明を記載するページのURL： 未設定の場合はリンクを表示しない
VITE_APP_INDEX_PAGE_URL=

# アプリを配置するディレクトリ
VITE_BASE_PATH=
