.filterForm {
	position: absolute;
	top: 48px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 424px;
	background-color: #ddd;
	padding: 8px 16px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 0.3);
	text-align: center;

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		right: 14px;
		border: 10px solid transparent;
		border-bottom: 10px solid #ddd;
	}
	
	input {
		background-color: #fff;;
	}

	button {
		background: #ffffff;
		border: none;
		border-radius: 16px;
		padding: 8px 16px;
		margin: 8px 8px 0;
		font-size: 16px;
		color: #007aff;

		&:hover {
			background-color: #eeeeee;
		}
	}
}
